---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-bar-chart"></i>
                <h4>Data Driven.</h4>
                <p>We're working to create, exchange and analyze data relevant to Baltimore City's pressing social, economic, and health challenges.</p>
                <p><br/><a href="about" class="btn btn-theme">About Us</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Active Projects</h4>
                <p>Come see what we've done so far and what we're working on now.</p>
                <p><br/><a href="projects" class="btn btn-theme">View Projects</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-user-plus"></i>
                <h4>Join us!</h4>
                <p>We're looking for researchers, data scientists, civic hackers and others to join us on this endeavor.</p>
                <p><br/><a href="blog/opportunities/call-for-researchers/" class="btn btn-theme">More Info</a></p>
            </div>		 				
        </div>
    </div><! --/container -->
</div><! --/service -->

{% comment %}{% include portfolio.html title="LATEST WORKS" limit=10 %}{% endcomment %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Us.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->