<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
             
                <strong><h3>The Baltimore City Data Lab (BCDL) seeks to facilitate the creation, exchange, and analysis of data relevant to Baltimore City’s pressing social, economic, and health challenges. The lab has an open science orientation and seeks the involvement of researchers of all types, including students, community members, and technology specialists with interests in supporting open science projects. </h3></strong>
                
         
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->